body {
    padding: 40px 20px 0 10px;
    background-color: #2e6986;
    color: #fff;
}
ol {
    list-style-type: none;
}
p {
    text-indent: 1em;
}
a {
    text-decoration: none !important;
}

#navbar-collapse> a:nth-child(4)> img {
    border: 1px solid #fff;
}
#projects > div:nth-child(3) > div > a> img:hover{
  background-color: #fff;
}

/*  NAVBAR     */
#navbar-collapse> a {
    margin-right: .5em;
}
#navbar-collapse> a:first-child {
    margin-left: 20em;
}
#imgContainer {
    max-height: 301px;
    width: 30%;
    display: inline-block;
    margin-left: 10%;
}
.navbarIcon {
    width: 5%;
    height: 50px;
}
.navbarIcon:hover {
    background-color: blue;
}
.icons {
    widows: 50px;
    height: 50px;
}

.jumbotron {
    color: black;
}


/*Feedback**/
#feedbackContainer div:last-child blockquote {
    border-right: 5px solid #eee;
}
#feedbackContainer {
    border-bottom: 1px solid gainsboro;
}
blockquote>footer {
    color: #fff;
}


/* GALLERY */
.carousel-caption {
    color: #e91e63;
}
.carousel-caption> p {
    font-size: 1.3em;
}
#galImage {
    max-height: 30%;
    width: 54.5%;
}
.item img {
    width: 100% !important;
    height: 350px !important;
}
.inline {
    display: inline-block;
}



#projects .icons {
    margin-bottom: 5px;
}



/*contact*/
#contact> div.row> div.col-lg-8> a {
    height: 50px;
}
#contact> div.row> div.col-lg-8> a:first-child> img {
    border: 1.5px solid #fff;
}
#contact> div.row> div.col-lg-8> a:nth-child(5)> img {
    border: 1.5px solid #fff;
    border-radius: 5px;
}
#contact> div.row> div.col-lg-8> a> img:hover {
    background-color: blue;
}


body>footer {
    background-color: #2d2d2d;
    color: #fff;
}


/* MEDIA QUERIES   */
@media screen and (max-width: 991px) {
    #gallery {
        padding: 0;
    }
    #imgContainer {
        display: none;
    }
    #feedbackContainer blockquote {
        border: none !important;
    }
    #navbar-collapse> a> img {
        display: none;
    }
}

@media screen and (max-width: 998px){

  #navbar-collapse> a:first-child {
      margin-left: 3em;
  }
}
@media screen and (min-width: 425px) and (max-width: 770px) {
    #navbar-collapse> a> img {
        display: none;
    }
}
