
    body{
      padding: 40px 20px 0 10px;
    }
    ol{
        list-style-type: none;
    }
    #feedbackContainer{
      border-bottom: 1px solid gainsboro;
    }
    #navbar-collapse > a{
      margin-right: .5em;
    }
    #navbar-collapse > a:first-child{
      margin-left: 23em;
    }
    .navbarIcon{
      width: 5%;
      height: 50px;
      background-color: #9e9e9e;
    }
    .navbarIcon:hover{
      background-color: #fff;
    }

    .icons{
      widows: 50px;
      height: 50px;
    }
    .carousel-container{
      width: 500px;
      height: 500px;
    }

    .carousel-caption{
      color:#e91e63;

    }
    .carousel-caption > p{
      font-size: 1.3em;
    }
     .item img{
    width:100% !important;
    height:350px !important;
  }

  #projects{
    padding: 0;
    width: 100%;
  }

    .inline{
      display: inline-block;

    }

    .inline img{

      margin-bottom: 5px;
    }
