body {
    padding: 40px 20px 0 10px;
    background-color: #2e6986;
    color: #fff;
}
ol {
    list-style-type: none;
}
p{
  text-indent: 1em;
}
.jumbotron{
  color: black;
}
#feedbackContainer div:last-child blockquote {
    border-right: 5px solid #eee;
}
#navbar-collapse> a {
    margin-right: .5em;
}
#navbar-collapse> a:first-child {
    margin-left: 23em;
}
#imgContainer {
    max-height: 301px;
    width: 30%;
    display: inline-block;
    margin-left: 10%;
}
.navbarIcon {
    width: 5%;
    height: 50px;
    background-color: #9e9e9e;
}
.navbarIcon:hover {
    background-color: #fff;
}
.icons {
    widows: 50px;
    height: 50px;
}
#feedbackContainer {
    border-bottom: 1px solid gainsboro;
}
.carousel-caption {
    color: #e91e63;
}
.carousel-caption> p {
    font-size: 1.3em;
}
#galImage {
    max-height: 30%;
    width: 54.5%;
}
.item img {
    width: 100% !important;
    height: 350px !important;
}
.inline {
    display: inline-block;
}
#projects .icons {
    margin-bottom: 5px;
}
#contact> div.row> div.col-lg-8> a {
    height: 50px;

}
#contact> div.row> div.col-lg-8> a:nth-child(5)> img {
    border: 1.5px solid black;
    border-radius: 5px;
}
#contact> div.row> div.col-lg-8> a> img:hover {
    background-color: #fff;
}
blockquote>footer{
  color:#fff;
}
body>footer {
    background-color: #2d2d2d;
    color:#fff;
}
