body{
	margin: 0;
}

header{

	max-width: 100%;
	background-color: #b2b300;
	padding: 2em;
}

header .name{
	color: #fff;
	font-size: 2rem;
	
}

header .mobile-menu-icon{
	
	font-size: 3em;
}

#my-navbar img{
	width: 5%;
	height: 50px;
}
.navigation #mobile-nav {
	background-color: #eee;
	width: 100%;
	padding:10px 0;

}

.navigation #mobile-nav ul{
	margin: 0;
}

.navigation #mobile-nav ul > li{
	display: inline-block;
	font-size: 3em;
	width: calc(33.33333% - 10px);
	text-align: center;
}

.profile-image #pic{
	max-width: 70%;
	width: 70%;
	height:auto;
	border-radius:20px;
}


.sites{
	max-width: 30%;
	max-height: auto;
	padding: 0;
	margin: 0;
	display: inline-block;
}
.sites img{
	max-width: 30%;
	max-height: auto;
	display: inline-block;
	
}


.portfolio-item, .about .mobile-about, .mobile-contact{
	background-color: #ccc;
	padding: 2em;
	border-bottom: 2px solid black;
}

footer .mobile-footer{
	background-color: #333;
	color: #fff;
	padding: 2em;
	text-align: center;
}

.nav-selected{
	background-color: #888;
	color:#fff;
}

/*helper classes*/
.float-right{
	float: right;
}

.float-left{
	float: left;
}


.clear-fix{
	clear: both;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	
	.profile-image{
		max-width: 25%;
		width: 25%;
		float: left;
	}
	.portfolio .portfolio-item{
		display: inline-block;
		max-width: 26%;
	}
	.general-info{
		display: inline-block;
		float: right;
	}

}	


